<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="Format date"
            functionClass="com.ghc.custom.functions.FormatDate"
            maxParameters="3"
            minParameters="2"
            name="formatDate"
            syntax="formatDate( date, inputFormat [, outputFormat] )">
      </function>
   </extension>
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="ToUpper"
            functionClass="com.ghc.custom.functions.ToUpper"
            maxParameters="1"
            minParameters="1"
            name="ToUpper"
            syntax="ToUpper( value )">
      </function>
   </extension>
      <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="ToLower"
            functionClass="com.ghc.custom.functions.ToLower"
            maxParameters="1"
            minParameters="1"
            name="ToLower"
            syntax="ToLower( value )">
      </function>
   </extension>
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="SSHConnection"
            functionClass="com.ghc.custom.functions.SSHConnection"
            maxParameters="6"
            minParameters="4"
            name="SSHConnection"
            syntax="SSHConnection(Host, Username, Password, Command[, StdOutTag, StdErrTag])">
      </function>
   </extension>
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="NumberGenerator"
            functionClass="com.ghc.custom.functions.NumberGenerator"
            maxParameters="2"
            minParameters="1"
            name="NumberGenerator"
            syntax="NumberGenerator( length[, filename] )">
      </function>
   </extension>
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="Concat"
            functionClass="com.ghc.custom.functions.Concat"
            maxParameters="2"
            minParameters="2"
            name="Concat"
            syntax="concat( string, string)">
      </function>
   </extension>
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="FileName"
            functionClass="com.ghc.custom.functions.FileName"
            maxParameters="2"
            minParameters="2"
            name="fileName"
            syntax="fileName(dirPath, nthFile)">
      </function>
   </extension>
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="FTP"
            functionClass="com.ghc.custom.functions.FTP"
            maxParameters="6"
            minParameters="6"
            name="FTP"
            syntax="FTP(hostname, username, password, command, local, remote)">
      </function>
   </extension>
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="regexReplaceAll"
            functionClass="com.ghc.custom.functions.regexReplaceAll"
            maxParameters="3"
            minParameters="3"
            name="regexReplaceAll"
            syntax="regexReplaceAll(regexPattern, replacementString, inputString)">
      </function>
   </extension> 
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="SFTP"
            functionClass="com.ghc.custom.functions.SFTP"
            maxParameters="6"
            minParameters="6"
            name="SFTP"
            syntax="SFTP(hostname, username, password, command, local, remote)">
      </function>
   </extension>   
   <extension
         point="com.ghc.ghTester.functions">
      <function
            displayName="Substring"
            functionClass="com.ghc.custom.functions.Substring"
            maxParameters="3"
            minParameters="3"
            name="Substring"
            syntax="Substring(startIndex, endIndex, text)">
      </function>
   </extension>
   <extension
		 point="com.ghc.ghTester.functions">
	  <function
			displayName="xpathUpdate"
			functionClass="com.ghc.custom.functions.XPathUpdate"
			maxParameters="3"
			minParameters="3"
			name="xpathUpdate"
			syntax="xpathUpdate( fileContentTag, xPathExpression, valueToReplace )">
	  </function>
   </extension>  
</plugin>
